html,
body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

#root {
  width: 100%;
  overflow-x: hidden;
}

img,
table,
video,
iframe,
pre,
code {
  max-width: 100%;
  height: auto;
}
