.upload-actions {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  border-top: 1px solid #eee;
}

.upload-cancel-btn {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #333;
  padding: 10px 20px;
  font-weight: 500;
}

.upload-cancel-btn:hover {
  background-color: #f5f5f5;
}

.upload-attach-btn {
  background-color: #151922;
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: 500;
}

.upload-attach-btn:hover {
  background-color: #323642;
}